#header-image{
    background-color: var(--green-color-1);
    height: 55vh;
    vertical-align: center;
}
#header-image h1{
    line-height: 3rem;
}
#header-image h1,#header-image p{
    margin: 0 10%;
}
.hero-image {
    position: relative;
    background: url(/assets/images/colaborar-header.webp) no-repeat top;
    background-size: cover;
    padding-bottom: 50%;
    margin-top: 5%;
}
#colaborar h3{
    color: var(--blue-color);
    margin-bottom: 0;
}
#colaborar h2{
    color: var(--blue-color);
    text-align: center;
    padding: 0.5rem;
}

.img-thumbnail h3, .img-thumbnail p, .img-thumbnail a{
    width: 100%;
    color: var(--dark-grey-color);
}
.img-thumbnail p{
    text-align: justify;
}
.img-thumbnail img{
    width: 100%;
    height: 35vh;
    text-align: center;
}
.img-thumbnail h3{
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 0.5rem;
}
.img-thumbnail h3 a{
    color: var(--light-blue-color);
}
.img-thumbnail .btn{
    background-color: var(--green-color-1);
    color: var(--white-color);
    padding: 0.5rem;
}

/*Animaciones*/
#header-image div:nth-child(1), #colaborar{
    animation: fadeFromRight 1s 1 linear 0s;
}

/*Breakpoints*/
@media (min-width:578px){/*sm*/
    #header-image{
        height: 70vh;
    }
    .hero-image{
        padding-bottom: 50%;
    }
    #colaborar{
        padding-top: 10%;
    }
}
@media (min-width:768px){/*md*/
    .hero-image {
        background: url(/assets/images/colaborar-header.webp) no-repeat top;
        padding-bottom: 50%;
    }
    #header-image h1,#header-image p{
        margin: 0 10%;
    }
    .img-thumbnail:hover{
        transition: all .5s linear;
        border-left: 5px solid var(--green-color-2);
        transform: scale(1.1);
    }
}
@media (min-width:992px){/*lg*/
    #header-image{
        height: 45vh;
    }
    .hero-image {
        background: url(/assets/images/colaborar-header.webp) no-repeat top;
        padding: 0;
        margin: 0;
    }
    #colaborar{
        padding-top: 2%;
    }
}

@media (min-width:1200px){/*xl*/
    #header-image{
        height: 45vh;
    }
    #header-image h1,#header-image p{
        margin: 0 20%;
    }
}
