/*
Facebook and Instagram icons from Icon8 https://icons8.com/
<a  href="https://icons8.com/icon/78517/toggle">Toggle</a> icon by <a href="https://icons8.com">Icons8</a>

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300&display=swap');

#principal-banner{
    background-color: var(--light-blue-color);
}
#principal-banner div{
    margin: 0 10%;
}
#principal-banner h1{
    line-height: 3rem;
}
#principal-banner #btn-sumate{
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 0.5rem 6rem;
    border-radius: 54px;
	border: none;
}
#principal-banner #btn-sumate:hover {
	background-color: var(--white-color);
	color: var(--dark-blue-color);
	box-shadow: 0 0 10px 0 var(--dark-blue-color) inset, 0 0 10px 4px var(--dark-blue-color);
}
#principal-banner .hero-image {
    position: relative;
    background: url(/assets/images/home-sm.jpg) no-repeat top;
    background-size: cover;
    padding-bottom: 50%;
    margin: 5% 0 0 0!important;
}

#informacion, #video{
    color: var(--dark-blue-color);
}

#informacion .circle{
    width: 35%;
    font-size: 1.2rem;
    text-align: center;
}
#informacion .circle:hover{
    transform: scale(1.1);
}
#informacion .circle img{
    width: 60%;
}

#video iframe{
    width: 90%;
    height: 40vh;
}

@media (min-width:768px){/*md*/
    #principal-banner div{
        margin: 0 5%;
    }
    #principal-banner .hero-image {
        background: url(/assets/images/home-md.jpg) no-repeat center;
        /* padding-top: 5%; */
        /* padding-bottom: 50%; */
    }
    #principal-banner h1{
        padding-top: 1rem;
    }
    #informacion .circle{
        font-size: 1.5rem;
    }
    #informacion .circle img{
        width: 50%;
    }
    #video iframe{
        width: 90%;
        height: 50vh;
    }
}
@media (min-width:992px){/*lg*/
    #principal-banner .hero-image {
        background: url(/assets/images/home-lg.jpg) no-repeat center;
        padding-bottom: 0;
        margin: 0!important;
    }
    #informacion .circle{
        width: 25%;
        text-align: center;
    }
    #informacion .circle img{
        width: 60%;
    }
    #video iframe{
        width: 60%;
        height: 50vh;
    }
}

@media (min-width:1200px){/*xl*/
    #informacion .circle{
        width: 15%;
        text-align: center;
    }
    #informacion .circle img{
        width: 60%;
    }
    #video iframe{
        width: 50%;
        height: 60vh;
    }
}

