.container div h1 {
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 0.5rem;
}
.requisitos{
    color: var(--blue-color);
}
.requisitos img{
    margin-top: 10%
}
#btn-form{
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 0.5rem 6rem;
	border: none;
}
#btn-form:hover {
	background-color: var(--white-color);
	color: var(--dark-blue-color);
	border: 2px solid var(--dark-blue-color);
    padding: 0.38rem 6rem;
}