@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300&display=swap');

:root{
    --green-color-1: #accc94;
    --green-color-2: #b6cfa9;
    --blue-color: #0c74bc;
    --light-blue-color: #73a1bd;
    --dark-blue-color: #074c7c;
    --dark-grey-color: #4c4d4f;
    --grey-color: #c0c0c0;
    --white-color: #ffffff;
    --black-color: #000000;
    font-family: 'Montserrat', sans-serif; 
}
/*MENU*/
header{
    margin: 0 5% 0 5%;
}
#menu img{
    width: 76px;
    height: 77px;
}
#menu .title{
    color: var(--dark-grey-color);
    vertical-align: middle;
}
#menu .title span{
    color: var(--blue-color)
}

#miMenu ul li a{
    font-size: 1.2rem;
    transition: all ease-in-out 300ms;
}
.menu-info{
    border-bottom: 2px solid var(--blue-color);
}
.menu-link{ 
    border-bottom: 2px solid var(--green-color-1);
}
.menu-info:hover, .menu-link:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -10px) scale(1.1);
}

/*FOOTER*/
footer{
    background-color: var(--dark-grey-color);
}
footer h3{
    background-color: var(--blue-color);
    padding: 2px;
}
footer address{
    white-space: pre-line;
}
footer .rrss{
    height: 2.5rem;
}
.btn-form, .btn-form:hover{
    background-color: var(--blue-color);
    border: none;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
    color: #2acc80;
}

@media (max-width:768px){
    #menu img{
        width: 46px;
        height: 45px;
    }
    #miMenu ul li a{
        width: 100%;
    }
}
@media(max-width:1200px){
    header{
        margin: 0;
    }
}