#hero-image{
    background: url(../assets/images/proyecto-header-lg.webp) no-repeat center;
    height: 500px;
    background-size: cover;
    position: relative;
}

#proyectos .row img{
    height: auto;
    border-radius: 1.5rem;
}
#proyectos .row{
    color: var(--dark-grey-color);
}
#proyectos .row h2{
    font-weight: 600;
    font-size: 2rem;
}
#proyectos .row p, #proyectos .row ul{
    font-weight: lighter;
    font-size: 1rem;
}
#proyectos .row .circle{
    width: 5rem;
    font-size: 0.8rem;
    text-align: center;
}
#proyectos .row .circle p{
    font-size: 0.7rem;
}
#proyectos .row .circle img{
    width: 3rem;
}
#proyectos .row blockquote{
    margin: 0 auto;
    padding-left: 1rem;
    font-size: 1.8rem;
    width: 100%;
    border-left: 3px solid var(--green-color-1);
}
#se-parte{
    background: url(../assets/images/proyecto-3.webp) no-repeat center;
    height: 500px;
    background-size: cover;
    position: relative;
}
#se-parte h4{
    color: var(--white-color);
    padding: 0.5rem;
    background-color: var(--blue-color);
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
}
#se-parte button{
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    position: absolute;
    left: 50%;
    bottom: 42%;
    font-size: 1.2rem;
    padding: 0.2rem 3rem;
    border-radius: 54px;
	border: none;
}

/*Animations*/
#proyectos #img-1, #proyectos .circle{
    animation: fadeFromRight 1s 1 linear 0s;
}

/*Breakpoints*/
@media (min-width: 768px)/*lg*/{
    #proyectos .row .circle{
        width: 6rem;
    }
    #proyectos .row .circle p{   
        font-size: 0.8rem!important;
    }
    #proyectos .row .circle img{
        width: 4rem;
    }
}
@media (min-width:1200px)/*md*/{
    #proyectos .row h2{
        font-size: 3rem;
    }
    #proyectos .row p, #proyectos .row ul{
        font-size: 1.25rem;
    }
    #proyectos .row .circle{
        width: 8rem;
    }
    /* #proyectos .row .circle p{   
        font-size: 0.7rem;
    } */
    #proyectos .row .circle img{
        width: 6rem;
    }
    #proyectos .row blockquote{
        width: 80%;
    }
    #se-parte h4{
        font-size: 2rem;
        left: 70%;
    }
    #se-parte button{
        left: 70%;
        bottom: 40%;
        padding: 0.5rem 4rem;
        font-size: 1.5rem;
    }
}
