#header-image{
    background-color: var(--light-blue-color);
    height: 46vh;
}
.hero-image {
    position: relative;
    background: url(/assets/images/quienes-somos-sm.webp) no-repeat top;
    background-size: contain;
    padding-bottom: 50%;
}

#principal .row #hero-image h1{
    background-color: var(--dark-blue-color);
    padding: 0.5rem 1.6rem;
    font-size: 3.2rem;
    position: absolute;
    bottom: 30%;
    left: 2%;
}

#principal .row #hero-image p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
    position: absolute;
    bottom: 5%;
    left: 2%;
    width: 22%;
}
#valores h3{
    color: var(--dark-blue-color);
}
/*VALORES*/
/* .blockquote-wrapper {
    display: flex;
    max-height: 30vh;
    padding: 0 10%;
} */

 /* Blockquote contenedor principal */
.blockquote {
    position: relative;
    width: 30%;
    max-width: 350px;
    margin: 20px auto;
    padding-right: 18px;
    align-self: center;
}

 /* Blockquote header: borde y color de texto */
.blockquote h1 {
    position: relative; /* for pseudos */
    color: var(--blue-color);
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
    border: solid 2.5px; /*grosor borde*/
    border-radius:20px;
    padding: 25px;
}

 /* Curvita */
.blockquote h1:after {
    content:"";
    position: absolute;
    border: 2.5px solid var(--blue-color);
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 50px;
    bottom: -50px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}
/*Borrador para la curvita*/
.blockquote h1:before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid var(--white-color);
    bottom: -3px;
    left: 50px;
    z-index: 2;
}
 /* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: var(--dark-blue-color);
    font-size: 1.3rem;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left:120px;
    padding-left:12px;
}



 /* increase header size after 600px */
 /* @media all and (min-width: 600px) {
     .blockquote h1 {
         font-size: 1.5rem;
         line-height: 1.2;
    }
 
 }
  */

/*BREAKPOINTS*/
@media (max-width:768px){/*md para abajo*/ 

    #principal .row #hero-image h1, #principal .row #hero-image p{
        text-align: center;
        left: 0%;
        width: 100%;
        padding: 0.5rem 0;
    }
    #principal .row #hero-image h1{
        font-size: 1.8rem;
        bottom: 8%;
    }
    #principal .row #hero-image p{
        font-size: 1rem;
        bottom: -4%;
        line-height: 1.2rem;
        background-color: var(--green-color-1);
    }
    .blockquote{
        width: 48%;
    }
    .blockquote h1{
        font-size: 0.8rem;
    }
    .blockquote h4{
        font-size: 0.9rem;
        padding-top: 10px;
        padding-left: 42%;
        margin-left: 0;
    }
    /*curvita*/
    .blockquote h1:after{
        height: 40px;
        bottom: -40px;
        left: 30px;
    }
}

@media (min-width:768px)and(max-width:992px){/*md y mas grandes*/
    #principal .row #hero-image{
        background: url(../assets/images/quienes-somos-md.webp) no-repeat top;
        height: 350px;
    }
    #principal .row #hero-image h1, #principal .row #hero-image p{
        left: 2%;
        padding: 0.5rem 0;
    }
    #principal .row #hero-image h1{
        font-size: 1.8rem;
        bottom: 20%;
    }
    #principal .row #hero-image p{
        font-size: 1rem;
        bottom: -4%;
        line-height: 1.2rem;
        width: 30%;
    }
}
@media (min-width:992px){/*lg*/
    #principal .row #hero-image{
        background: url(../assets/images/quienes-somos-lg.webp) no-repeat top;
    }

}
@media (min-width:1200px){/*xl*/
    #principal .row #hero-image{
        background: url(../assets/images/quienes-somos-lg.webp) no-repeat top;
    }
}