#principal-banner{
    background-color: var(--light-blue-color);
}
#principal-banner div{
    margin: 0 10%;
}
#principal-banner h1{
    line-height: 3rem;
}
#principal-banner #btn-sumate{
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 0.5rem 6rem;
    border-radius: 54px;
	border: none;
}
#principal-banner #btn-sumate:hover {
	background-color: var(--white-color);
	color: var(--dark-blue-color);
	box-shadow: 0 0 10px 0 var(--dark-blue-color) inset, 0 0 10px 4px var(--dark-blue-color);
}
#principal-banner .hero-image {
    position: relative;
    background: url(../assets/images/quienes-somos-sm.webp) no-repeat top;
    background-size: cover;
    padding-bottom: 50%;
    margin: 5% 0 0 0!important;
}

#figure-1,#figure-2,#figure-3{
    display: none;
}

#valores h3{
    color: var(--dark-blue-color);
}

 /* Blockquote contenedor principal */
.blockquote {
    position: relative;
    width: 48%;
    max-width: 350px;
    margin: 20px auto;
    align-self: center;
}

 /* Blockquote header: borde y color de texto */
.blockquote h1 {
    position: relative; /* for pseudos */
    color: var(--blue-color);
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    border: solid 2.5px; /*grosor borde*/
    border-radius:20px;
    padding: 20px;
}

 /* Curvita */
.blockquote h1:after {
    content:"";
    position: absolute;
    border: 2.5px solid var(--blue-color);
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 40px;
    bottom: -40px;
    left: 30px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}
/*Borrador para la curvita*/
.blockquote h1:before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid var(--white-color);
    bottom: -3px;
    left: 50px;
    z-index: 2;
}
 /* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: var(--dark-blue-color);
    font-size: 0.9rem;
    margin: 0;
    z-index: 1;
    padding-top: 10px;
    padding-left: 42%;
}


@media (min-width:576px){
    #principal-banner .hero-image{
        margin: 0!important;
    }
}
@media (min-width:768px){/*md*/
    #principal-banner div{
        margin: 5%;
    }
    #principal-banner .hero-image {
        background: url(../assets/images/quienes-somos-md.webp) no-repeat center;
    }
    .blockquote {
        width: 45%;
    }
     /* Blockquote header: borde y color de texto */
    .blockquote h1 {
        font-size: 1.1rem;
    }
     /* Curvita */
    .blockquote h1:after {
        height: 50px;
        bottom: -50px;
        left: 50px;
    }
     /* Blockquote subheader */
    .blockquote h4 {
        font-size: 1.3rem;
        padding-top: 15px;
        padding-left:12px;
        margin-left:120px;
    }
}
@media (min-width:992px){/*lg*/
    #principal-banner .hero-image {
        background: url(../assets/images/quienes-somos-lg.webp) no-repeat center;
        padding-bottom: 0;
        margin: 0!important;
    }
    .blockquote {
        width: 30%;
    }
     /* Blockquote header: borde y color de texto */
    .blockquote h1 {
        font-size: 1.4rem;
    }
     /* Curvita */
    .blockquote h1:after {
        height: 50px;
        bottom: -50px;
        left: 50px;
    }
     /* Blockquote subheader */
    .blockquote h4 {
        font-size: 1.3rem;
        padding-top: 15px;
        padding-left:12px;
        margin-left:120px;
    }
    #figure-1{
        display: block;
        margin-left: 15%;
        margin-top: -10%;
        height: 8rem;
        margin-bottom: 5%;
    }
    #figure-2{
        display: block;
        margin-left: 75%;
        margin-top: -15%;
        margin-bottom: 5%;
        height: 10rem;
    }
    #figure-3{
        display: block;
        margin-left: 25%;
        margin-top: -2%;
        height: 4rem;
    }
}
